@page "/fetchdata"

@inject IMovieRecommendationEngineRepository _repo

<h1>Movies</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.MovieId</td>
                    <td>@movie.Title</td>
                    <td>@movie.Genres</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Movie> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await _repo.GetTop(100);
    }
}
