@page "/fetchdata"
@using Models
@using Microsoft.EntityFrameworkCore

@inject MovieLensContext _context

<h1>Movies</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genres</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.MovieId</td>
                    <td>@movie.Title</td>
                    <td>@movie.Genres</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Movies> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await _context.Movies.OrderBy(x => x.MovieId).Take(100).ToListAsync().ConfigureAwait(false);
    }
}
